.switch-input {
    -ms-user-select: none;
    user-select: none;
    height: 16px;
    width: 48px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.switch-input {
    flex-direction: row;
}

.switch-input.pw-active {
    flex-direction: row-reverse;
}

.switch-input .ball {
    height: 12px;
    width: 12px;
    margin: 2px;
    border-radius: 100%;
    background-color: #fff;
}
