.docs {
    width: 512px;
    margin: 24px auto;
}

.docs h1, .docs h2, .docs h3, .docs h4, .docs h5 {
    color: #333;
    margin: 4px 0;
}

.docs label {
    font-weight: bold;
    margin: 4px;
}

.docs .scalar-input {
    width: 50px;
}
