.docs {
    width: 512px;
    margin: 24px auto;
}

.docs label {
    font-weight: bold;
    margin: 4px;
}

.docs .scalar-input {
    width: 50px;
}

.card {
    margin: 8px 0;
    border-radius: 8px;
    padding: 8px;
    background-color: #eee;
}

.input-row {
    margin: 8px 0;
}

.input-row.x {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-row label {
    font-weight: bold;
}

.input-row .content {
    margin-top: 4px;
}

.fold > :first-child {
    cursor: pointer;
    width: 100%;
}

.model-row > .input-meter {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: 8px;
    padding: 8px;
}

.view-as-input {
    display: flex;
    align-items: center;
    width: 100%;
}

.view-as-option {
    padding: 4px;
    cursor: pointer;
    color: cornflowerblue;
}

.view-as-option.active {
    font-weight: bold;
    color: cornflowerblue;
}


.content {
    background-color: #ddd;
    border-radius: 8px;
    padding: 8px;
}

.edit-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}
