.docs {
    width: 512px;
    margin: 24px auto;
}

.docs label {
    font-weight: bold;
    margin: 4px;
}

.docs .scalar-input {
    width: 50px;
}

.card {
    margin: 8px 0;
    border-radius: 8px;
    padding: 8px;
    background-color: #eee;
}

.input-row {
    margin: 8px 0;
}

.input-row.x {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-row label {
    font-weight: bold;
}

.fold> :first-child {
    cursor: pointer;
    width: 100%;
}

.model-row>.input-meter {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: 8px;
    padding: 8px;
}

.view-as-input {
    display: flex;
    align-items: center;
}

.view-as-option {
    padding: 4px;
    cursor: pointer;
    color: cornflowerblue;
    white-space: nowrap;
}

.view-as-option.active, .view-as-option:hover {
    font-weight: bold;
}

.content {}

.h1, h2, h3, h4, h5 {
    cursor: pointer;
    color: #111;
}

.h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
    color: cornflowerblue;
}

h3 {
    background-color: #888;
    color: white;
    border-radius: 4px;
    padding: 4px;
}

.cell-table {
    width: 100%;
    margin: 16px auto;
    max-width: 512px;
    border-collapse: collapse;
}

.cell-table thead {
    background-color: #eee;
}

.cell-table thead th {
    padding: 8px;
    white-space: nowrap;
}

.cell-table tr:not(.panel) {
    border-top: 1px solid #555;
}

.cell-table th:not(:last-child) {
    text-align: left;
}

.cell-table td {
    padding: 8px;
}

.cell-table td.prop {}

.cell-table td.model-type {
    color: #555;
    font-size: 80%;
    font-style: italic;
}

.cell-table td.name {
    width: 100%;
}

.cell-table td.edit {
    text-align: center;
}

.cell-table tfoot {
    border-top: 2px solid #555;
}

.load {
    padding: 4px;
    cursor: pointer;
    color: cornflowerblue;
}

.submenu {
    padding: 8px;
}

.submenu, .panel {
    background-color: #eee;
}

.panel td {
    padding-top: 0;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.space {
    width: 100%;
}

.edit {
    width: fit-content;
}

.action-button {
    margin-left: 8px;
}

.preset-input {
    display: flex;
    padding: 8px;
}

.edit-table {
    width: 100%;
    max-width: 256px;
    border-collapse: collapse;
    margin: auto;
}

.edit-table td {
    padding: 2px;
}

.edit-table tr {
    border-top: 0 !important;
}

.add {
    text-align: right;
}

.pin-right {
    text-align: right;
}

.new-pod .button-input {
    background-color: white;
    color: cornflowerblue;
    height: 16px;
    line-height: 16px;
    padding: 0 8px;
}

.explore {
    width: 100%;
    max-width: 512px;
    margin: auto;
    text-align: center;
    margin-top: 16px;
}
