.pod-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.pod-input .integer-input {
    margin: 0 2px;
}

.pod-open-bracket, .pod-comma {
    font-size: 16px;
}
