node_modules/
.vscode/

packages/core/src/**/*.js

packages/ui/src/**/*.jsx
packages/ui/src/**/*.js

packages/viewers/src/**/*.jsx
packages/viewers/src/**/*.js

packages/app/src/**/*.jsx
packages/app/src/**/*.js

build
