* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: #ecefef;
    color: #333;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.input-bar-header {
    font-size: 70%;
    font-weight: bold;
    padding-top: 8px;
    text-transform: uppercase;
}

.input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}
