* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#app {
    background-color: #ecefef;
    /*background: rgb(236, 239, 239);
    background: radial-gradient(circle, rgba(236, 239, 239, 1) 0%, rgba(217, 218, 221, 1) 100%);*/
    color: #333;
    font-family: sans-serif;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
