/* Conditions */
.pw-hov {
  cursor: pointer;
}
.pw-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pw-active {
  border: 2px solid #D36135;
}
/* Primary */
.pw-primary {
  background-color: #25283D;
  color: #FFF;
}
.pw-primary.pw-hov:hover {
  background-color: #12131d;
}
.pw-primary.pw-disabled {
  background-color: #313131;
  color: #ffffff;
}
/* Accent */
.pw-accent {
  background-color: #87A330;
  color: #FFF;
}
.pw-accent.pw-hov:hover {
  background-color: #667c24;
}
.pw-accent.pw-disabled {
  background-color: #6a6a6a;
  color: #ffffff;
}
/* Active */
.pw-active {
  background-color: #D36135;
  color: #FFF;
}
.pw-active.pw-hov:hover {
  background-color: #af4c26;
}
.pw-active.pw-disabled {
  background-color: #848484;
  color: #ffffff;
}
