:root {
  --bg: #F3F4F8;;
  --fg: #282A3A;;
  --interactive: #72B01D;
  --active: #FF7F11
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: var(--interactive);
  text-decoration: none;
}

a:hover {
  color: var(--active);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
