.timeline {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #555;
    position: fixed;
    bottom: 0;
}

.playback-bar {
    position: absolute;
    bottom: 256px;
    width: 100%;
    background-color: #ddd;
    color: #25283D;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.playback-bar button {
    margin: 8px;
    padding: 8px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.frame-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    ;
}

.frame {
    height: 90%;
    min-width: 128px;
    background-color: #ccc;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.frame.active {
    border: 1px solid orange;
}

.measure-container {
    background-color: white;
    height: 256px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
}

.measure, .beat, .pitch {
    height: 100%;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    background-color: white;
    box-sizing: border-box;
}

.measure {
    display: grid;
}

.beat-tab {
    background-color: #333;
    color: white;
    text-align: center;
}

.beat.active .beat-tab {
    background-color: orange;
}

.beat {
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}
