.timeline {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #555;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.playback-bar {
    position: absolute;
    bottom: 256px;
    width: 100%;
    background-color: #ddd;
    color: #25283D;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.playback-bar > * {
    margin: 0 8px;
}

.beat-tab {
    background-color: #333;
    color: white;
    text-align: center;
}

.beat.active .beat-tab {
    background-color: orange;
}
