.menu {
    width: 0;
    height: 100%;
    position: relative;
    transition: width .2s;
    box-shadow: 8px 8px 8px #ccc;
    padding-bottom: 50px;
}

.menu.open {
    width: 512px;
}

.tab-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-container > .button-input {
    padding: 0;
}

.menu-body {
    padding: 16px;
    overflow: auto;
}
