.list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    text-align: center;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    position: relative;
}
