/* General */

.subpanel {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.subpanel-name {
    font-weight: bold;
}

/* ExploreTab */

.explore-tab {
    width: 100%;
    max-width: 512px;
    margin: 24px auto;
}

/* ModelPanel ModelPanelBody ModelPanelFooter */

.model-panel {
    width: 100%;
}

.model-panel-body {
    background-color: #eee;
    /*padding: 16px;*/
}

.model-panel-footer {
    background-color: #eee;
    padding: 16px;
    border-radius: 0 0 16px 16px;
}

/* ModelPanelHeader */

.model-panel-header {
    background-color: #eee;
    padding: 16px;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.model-name {
    font-size: 120%;
    font-weight: bold;
}

.type {
    padding: 4px;
    color: #555;
}

.preview {
    padding: 4px;
    color: teal;
}

/* EditDash */

.edit-dash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    padding-top: 0;
    box-sizing: border-box;
}

.edit-button {
    color: cornflowerblue;
    cursor: pointer;
}

/* table */

table {
    margin: auto;
}

table td {
    margin: 0;
    padding: 4px;
}

table th {
    padding: 8px;
}

.preset-box {
    padding: 8px;
    text-align: center;
}
