.interval, .note, .key-center {
    border-radius: 8px;
    box-sizing: border-box;
    padding: 4px;
    white-space: nowrap;
}

.interval, .note {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-center {
    display: grid;
    grid-template-columns: 128px auto;
}

.key-center .meter-container {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 200%;
}

.pitch-index, .pod {
    display: inline-block;
    margin: 2px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex-row > * {
    margin: 8px;
}

.card {
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #EEE;
}

.subcard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subcard {
    margin: 8px;
    padding: 8px;
    background-color: #DDD;
    border-radius: 8px;
}

.subcard:last-child {
    border: 1px solid #555;
    background-color: #CCC;
}

.math {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #CCC;
    font-weight: bold;
    border-radius: 100%;
}