

.input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.input-bar:not(:first-child) {
    border-top: 1px solid #ddd;
}

.input-bar> :first-child {
    width: 100%;
}

.input-bar>span {
    padding: 4px;
}

/* Other */

.preset-box {
    padding: 8px;
    text-align: center;
}

.preset-box>button {
    width: 50%;
    margin: 8px;
}

.viewer-box {
    margin-top: 16px;
}

button.load-preset {
    width: 50%;
    border-radius: 8px;
    text-transform: uppercase;
}

.preset-table {
    margin: auto;
    margin-top: 16px;
}
