/* General */

.subpanel {}

.subpanel-name {
    font-weight: bold;
}

h2 {
    margin: 0;
}

/* ExploreTab */

.explore-tab {
    width: 100%;
    margin: 24px auto;
}

/* DemoSelect */

.demo-select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.demo-select label {
    margin-right: 8px;
}

/* ModelPanel ModelPanelBody ModelPanelFooter */

.model-panel {
    padding: 16px;
    padding-bottom: 24;
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    background-color: #f5f5f5;
    box-shadow: -2px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

.input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.input-bar:not(:first-child) {
    border-top: 1px solid #ddd;
}

.input-bar> :first-child {
    width: 100%;
}

.input-bar>span {
    padding: 4px;
}

/* ModelPanelHeader */

.model-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-panel-header button {
    font-weight: bolder;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.model-panel-body {
    background-color: #f5f5f5;
    border-radius: 0 0 16px 16px;
}

.model-name {
    font-size: 120%;
    font-weight: bold;
}

.type {
    padding: 4px;
    color: #555;
}

.preview {
    padding: 4px;
}

/* SubpanelHeader */

.section-header {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.subpanel-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subpanel-header>button {
    background-color: transparent;
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}

.subpanel-header>.button-input:hover {
    background-color: #ccc;
}

.subpanel-body {
    box-sizing: border-box;
}

.preset-box {
    padding: 8px;
    text-align: center;
}

.preset-box>button {
    width: 50%;
    margin: 8px;
}

.viewer-box {
    margin-top: 16px;
}

.side-by {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.section {
    width: 512px;
    margin: 16px;
    box-sizing: border-box;
}
