/* General */

.subpanel {
}

.subpanel-name {
    font-weight: bold;
}

h2 {
    margin: 0;
}

/* ExploreTab */

.explore-tab {
    width: 100%;
    margin: 24px auto;
}

/* ModelPanel ModelPanelBody ModelPanelFooter */

.model-panel {
    width: 100%;
}

.input-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.input-bar:not(:first-child) {
    border-top: 1px solid #ddd;
}

.input-bar > :first-child {
    width: 100%;
}

.input-bar > span {
    padding: 4px;
}

/* ModelPanelHeader */

.model-panel-header {
    padding: 16px;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.model-panel-body {
    padding: 16px;
}

.model-name {
    font-size: 120%;
    font-weight: bold;
}

.type {
    padding: 4px;
    color: #555;
}

.preview {
    padding: 4px;
}

/* SubpanelHeader */

.subpanel-header {
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subpanel-body {
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 24px;
}

/* table */

table th {
    padding: 4px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

table td, table th {
    padding: 8px;
}

table th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

table tbody tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.preset-box {
    padding: 8px;
    text-align: center;
}
