.vector-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}

.vector-input .scalar-input {
    margin: 0 2px;
}

.vector-open-bracket, .vector-comma {
    font-size: 16px;
}


.vector-output {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}
