.key-center-input {
    text-align: left;
}

.key-center-input .button-input {
    border-radius: 0;
    border: 1px solid #C0C0C0;
}

.key-center-input .button-input:first-child {
    border-radius: 4px 0 0 4px;
}

.key-center-input .button-input:not(:last-child) {
    border-right: 0;
}

.key-center-input .button-input:last-child {
    border-radius: 0 4px 4px 0;
}
