.stage {
    padding-top: 50px;
    margin: auto;

    width: 100%;
    width:100vw;
    min-height: 100vh;
}

.stage *::-webkit-scrollbar {
    display: none;
}

.stage-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    padding: 16px;
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    text-transform: uppercase;
}

.tab:hover {
    color: cornflowerblue;
}

.tab.active {
    border-bottom: 4px solid cornflowerblue;
}
